body { 
     text-align:center;
	 color:;
	 background-color:#EBFFF6;
	 
	
}
#title {
	font-size:100px;
	opacity:0.5;
	color:blue;
	
	
}
#kiyv {
    font-size:50px;
	font:italic arial,sans-serif;
}
#har {
	font-size:50px;
}

#lviv {
	font-size:50px;
}
#odesa {
	font-size:50px;
	
}
#poltava {
	font-size:50px;
	
}
#vinica {
	font-size:50px;
	
}
#cherkas {
	font-size:50px;
}
#krop {
	font-size:50px;
}
#dnipro {
	font-size:50px;
}
#zap {
	font-size:50px;
}
#mik {
	font-size:50px;
}
#herson {
	font-size:50px;
	
}
#gitom {
	font-size:50px;
}
#chernig {
	font-size:50px;
}
#sumi {
	font-size:50px;
}
#hmel {
	font-size:50px;
}
#tern {
	font-size:50px;
}
#ivan {
	font-size:50px;
}
#cherniv {
	font-size:50px;
}
#ug {
	font-size:50px;
}
#rivne {
	font-size:50px;
}
#luck {
	font-size:50px;
}
#don {
	font-size:50px;
}
#lug {
	font-size:50px;
}
#krim {
	font-size:50px;
}
